.box {
  margin-top: 5%;
  margin-left: 15%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000000;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 71%;
}

#fctimg{
  width: 100%;
}

.col-lg-12 {
  margin-bottom: 2%;
}

#name, #dl1, #dl2, #img, #upload{
  height: 160%;
}
