<div class="container-fluid">
  <div class="card-box">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="font-weight-bold ">Manage Submissions</h3>
      </div>
      <div class="col-lg-1">
        <ng-select [items]="falList" [clearable]="false" placeholder="Faculty"></ng-select>
      </div>
      <div class="col-lg-1">
        <ng-select [items]="yearList" [clearable]="false" placeholder="Year"></ng-select>
      </div>
      <div class="col-lg-7 text-right">
        <button class="btn btn-outline-dark" (click)="createModal(create)">
          <i class="fas fa-plus"></i> Create Submission
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
            src="assets/image/submission1.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3 (click)="editModal(edit)">Database</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>03/25/2020</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
            src="assets/image/submission2.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3>Digital</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>06/25/2020</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
                 src="assets/image/submission3.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3>Network System</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>07/20/2020</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
            src="assets/image/submission4.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3>Implement</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>10/15/2020</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #create>
  <div class="">
    <h4 class="float-left mt-3 ml-3">Create New Submission</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="name" class="form-control" placeholder="Enter submission name">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="upload" class="form-control" placeholder="Related Document">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="dl1" class="form-control" placeholder="Deadline 1">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="dl2" class="form-control" placeholder="Deadline 2">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-8">
        <input id="img" class="form-control" placeholder="Picture here"
            style="height: 100px !important; width: 100px !important;" >
      </div>
      <div class="col-lg-4">
        <div style="height:0px;overflow:hidden">
          <input type="file" id="fileInput" name="fileInput" />
       </div>
        <button class="btn btn-outline-secondary mt-4 float-right" (click)="chooseFile()">Choose Imange</button>
        <label for="fileInput" class="custom-file-upload"></label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12 mb-0">
        <ng-select id="faculty" class="custom" placeholder="Faculty"></ng-select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <textarea class="form-control" rows="5" placeholder="Description"></textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-lg-6 text-center">
          <button class="col-lg-12 btn btn-secondary" (click)="closeModal()">
            <!-- <i class="fas fa-times-circle"></i>  -->
            Cancel</button>
      </div>
      <div class="col-lg-6 text-center">
        <button class="col-lg-12 btn btn-outline-secondary">
          <!-- <i class="fas fa-edit"></i>  -->
          Save</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #edit>
  <div class="row">
    <div class="col-lg-6 text-left">
      <h4 class="mt-3 ml-3">Edit Submission</h4>
    </div>
    <div class="col-lg-6 text-right">
      <button class="col-lg-3 btn btn-danger mr-3 mt-3">Delete</button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="name" class="form-control" placeholder="Enter submission name">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="upload" class="form-control" placeholder="Related Document">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="dl1" class="form-control" placeholder="Deadline 1">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <input id="dl2" class="form-control" placeholder="Deadline 2">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-8">
        <input id="img" class="form-control" placeholder="Picture here"
            style="height: 100px !important; width: 100px !important;" >
      </div>
      <div class="col-lg-4">
        <div style="height:0px;overflow:hidden">
          <input type="file" id="fileInput" name="fileInput" />
       </div>
        <button class="btn btn-outline-secondary mt-4 float-right" (click)="chooseFile()">Choose Imange</button>
        <label for="fileInput" class="custom-file-upload"></label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12 mb-0">
        <ng-select id="faculty" class="custom" placeholder="Faculty"></ng-select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12">
        <textarea class="form-control" rows="5" placeholder="Description"></textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-lg-6 text-center">
          <button class="col-lg-12 btn btn-secondary" (click)="closeModal()">
            <!-- <i class="fas fa-times-circle"></i>  -->
            Cancel</button>
      </div>
      <div class="col-lg-6 text-center">
        <button class="col-lg-12 btn btn-outline-secondary">
          <!-- <i class="fas fa-edit"></i>  -->
          Save</button>
      </div>
    </div>
  </div>
</ng-template>
