<div class="container-fluid">
  <div class="card-box">
    <div class="row form-group">
      <div class="col-6 col-lg-8">
        <h3 class="font-weight-bold col-form-label">Manage Accounts</h3>
      </div>
      <div class="col-6 col-lg-4 text-right">
        <button id="createbtn" class=" col-form-label btn btn-outline-dark"
                (click)="createModal(create)">
                  <i class="fas fa-plus"></i> Add new account
        </button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-6 col-sm-5 col-md-5 col-lg-4">
        <input class="form-control" placeholder="Search key">
      </div>
      <div class="col-6 col-sm-3 col-md-2 col-lg-2">
        <ng-select placeholder="Choose Role" [items]="roleList" [clearable]="false"></ng-select>
      </div>
    </div>
  </div>

  <div class="card-box">
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th id="no" class=" px-0">No.</th>
          <th id="code">User Code</th>
          <th id="name">Account Name</th>
          <!-- <th>Role</th> -->
          <th id="email">Email</th>
          <th id="date">Date</th>
          <th id="add">Address</th>
          <th id="pn">Phone Number</th>
          <th id="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!accountList || accountList.length < 1">
          <td class="text-center" colspan="6">Không có dữ liệu</td>
        </tr>

        <tr *ngFor="let item of accountList; let i = index">
            <td id="no" class="text-center">{{((pageNum - 1) * pageSize) + i + 1 }}</td>
            <td id="code">{{item?.codeUser}}</td>
            <td id="name" class="text-primary">
            <span (click)="openModal(item, content)" class="m-cursor">{{item?.name}}</span></td>
            <td id="email" class="text-break">{{item?.email}}</td>
            <td id="date">{{item?.dob}}</td>
            <td id="add">{{item?.address}}</td>
            <td id="pn">{{item?.phoneNumber}}</td>
            <td id="action" class="text-center px-0">
              <button class="btn btn-link text-dark mr-1" (click)="viewModal(item, view)"><i class="far fa-eye"></i></button>
              <button class="btn btn-link text-primary mr-1" (click)="editModal(item, edit)"><i class="fas fa-user-edit"></i></button>
              <button class="btn btn-link text-danger" (click)="deleteCategory(item)"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #create>
  <div class="div-title">
    <h4 class="float-left mt-3 ml-3">Create new account</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="codeUser" placeholder="User Code">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="name" placeholder="Account Name">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="email" placeholder="Email">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="dob" placeholder="Date of Birth">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="address" placeholder="Address">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input class="form-control" formControlName="nam" placeholder="School Year">
        </div>
      </div>
      <!-- <div class="row form-group">
        <div class="col-lg-12">
          <input class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-12">
          <input class="form-control" placeholder="Retype Password">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-12">
          <ng-select placeholder="Choose Role" [items]="roleList" [clearable]="false"></ng-select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-12">
          <ng-select placeholder="Choose Faculty" [items]="falList" [clearable]="false"></ng-select>
        </div>
      </div> -->
      <div class="row form-group">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
          <button type="submit" class="col-lg-12 btn btn-light"> {{btnSubmitName}} </button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
          <button class="col-lg-12 btn btn-secondary" (click)="closeModal()"> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!--
<ng-template #createN>
  <div class="div-title">
    <h4 class="float-left mt-3 ml-3">Create new account</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-lg-3">
        <label class="font-weight-bold">Account Name:</label>
      </div>
      <div class="col-lg-9">
        <input class="form-control" placeholder="Account Name">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-3">
        <label class="font-weight-bold">Email:</label>
      </div>
      <div class="col-lg-9">
        <input class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-3">
        <label class="font-weight-bold">Password:</label>
      </div>
      <div class="col-lg-9">
        <input class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-3">
        <label class="font-weight-bold">Confirm Password:</label>
      </div>
      <div class="col-lg-9">
        <input class="form-control" placeholder="Confirm Password">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-3">
        <label class="font-weight-bold">Role:</label>
      </div>
      <div class="col-lg-9">
        <ng-select placeholder="Choose Role" [items]="roleList" [clearable]="false"></ng-select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-3">
        <label class="font-weight-bold">Faculty:</label>
      </div>
      <div class="col-lg-9">
        <ng-select placeholder="Choose Faculty" [items]="falList" [clearable]="false"></ng-select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-6 text-right">
        <button class="col-lg-12 btn btn-light"> Save </button>
      </div>
      <div class="col-lg-6 text-left">
        <button class="col-lg-12 btn btn-secondary" (click)="closeModal()"> Cancel</button>
      </div>
    </div>
  </div>
</ng-template> -->

<ng-template #edit>
  <div class="">
    <h4 class="float-left mt-3 ml-3">Marketing Coordinator Profile</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
      <div class="row form-group">
        <div class="col-lg-4">
          <label>User Code:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="codeUser" placeholder="User Code">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Account Name:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="name" placeholder="Account Name">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Email:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="email" placeholder="Email">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Date:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="dob">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Address:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="address">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Phone Number:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="phoneNumber" >
        </div>
      </div>
      <!-- <div class="row form-group">
        <div class="col-lg-4">
          <label>Role:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="role" placeholder="Choose Role">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Faculty:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="faculty" placeholder="Choose Faculty">
        </div>
      </div> -->
      <div class="row form-group">
        <div class="col-lg-6 text-right">
          <button class="btn btn-light" (click)="onSubmit()">
            <i class="fas fa-edit"></i> Update</button>
        </div>
        <div class="col-lg-6 text-left">
          <button class="btn btn-secondary" (click)="closeModal()">
            <i class="fas fa-times-circle"></i> Cancel</button>
        </div>
      </div>
    </form>


  </div>
</ng-template>

<ng-template #view>
  <div class="">
    <h4 class="float-left mt-3 ml-3">Marketing Coordinator Profile</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
      <div class="row form-group">
        <div class="col-lg-4">
          <label>User Code:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="codeUser" placeholder="User Code" disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Account Name:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="name" placeholder="Account Name" disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Email:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="email" placeholder="Email" disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Date:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="dob" disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Address:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="address" disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Phone Number:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="phoneNumber" disabled>
        </div>
      </div>
      <!-- <div class="row form-group">
        <div class="col-lg-4">
          <label>Role:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="role" placeholder="Choose Role" disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-4">
          <label>Faculty:</label>
        </div>
        <div class="col-lg-8">
          <input class="form-control" formControlName="faculty" placeholder="Choose Faculty" disabled>
        </div>
      </div> -->

      <div class="row form-group">
        <div class="col-lg-12 text-center">
          <button class="btn btn-secondary" (click)="closeModal()">
            <i class="fas fa-times-circle"></i> Close</button>
        </div>
      </div>
    </form>

  </div>
</ng-template>
