.card-box {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  padding: 1.5rem;
  margin-bottom: 24px;
  border-radius: 0.5rem;
}

.div-title{
  padding-bottom: 10px;
  box-shadow: 0px -11px 15px 3px #888888;
}

@media only screen and (min-width: 1px) and (max-width: 653px) {

  .container-fluid {
    padding-top: 75px;
    padding-left: 8%;
  }

  .card-box {
    padding: 0.5rem;
  }

  .ng-select .ng-select-container {
    min-height: 5px !important;
  }

  .ng-select.ng-select-single .ng-select-container {
    height: 15px !important;
  }

  .form-control {
    width: 100%;
    height: calc(0.5em + 0.75rem + 10px) !important;
    font-size: 0.6rem ;
  }

  .table thead th {
    padding: 2%;
    font-size: 7px;
    border-bottom: 1px;
  }

  .table tbody td {
    padding: 2%;
    font-size: 7px;
    border-bottom: 1px;
  }

  h3 {
    font-size: 10px;
  }

  #createbtn{
    font-size: 6px;
  }

  #createbtn i{
    font-size: 9px;
  }

  table thead #email, #add {
    display: none;
  }

  table tbody #email, #add {
    display: none;
  }

  td button {
    margin: 0 !important;
    padding: 2px !important;
  }

  td button i {
    font-size: 0.5rem;
  }

}

@media only screen and (min-width: 653px) and (max-width: 1999px) {
  .container-fluid {
    padding-top: 80px;
  }

  .card-box {
    padding: 1rem;
  }

  .form-control {
    height: calc(1.3em + .75rem + 10px);
    font-size: 0.7rem;
  }

  .table thead th {
    padding: 2%;
    font-size: 9px;
    border-bottom: 1px;
  }

  .table tbody td {
    padding: 2%;
    font-size: 9px;
    border-bottom: 1px;
  }

  td button {
    margin: 0 !important;
    padding: 5px !important;
  }

  td button i {
    font-size: 0.5rem;
  }

  #createbtn {
    font-size: 0.85rem;
  }

  table thead #email {
    display: none;
  }

  table tbody #email {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .container-fluid{
    padding-top: 85px;
  }

  .form-control {
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .table thead th {
    padding: 2%;
    font-size: 12px;
    border-bottom: 1px;
  }

  .table tbody td {
    padding: 2%;
    font-size: 12px;
    border-bottom: 1px;
  }

  td button {
    margin-right: 5% !important;
  }

  td button i {
    font-size: 0.8rem;
  }

  #createbtn{
    font-size: 1rem;
  }

  table thead #email {
    display: table-cell;
  }

  table tbody #email {
    display: table-cell;
  }

}
