<!-- Title Row -->
<div class="container-fluid">
  <div class="row my-2">
    <div class="col-lg-4">
      <a routerLink="/home">
        <img class="col-label-form pl-5 pt-1"  src="/assets/image/logo2.png" alt="logo" height="40" width="200">
      </a>
    </div>

    <div class="col-lg-4 text-center">
      <label class="font-weight-bold col-form-label">GreenwichU Magazine</label>
    </div>

  </div>

  <!-- Navbar Row -->
  <div class="row border-top border-bottom">
    <div class=" px-4 text-center">
      <button class="btn btn-link text-dark"><i class="fas fa-home"></i></button>
    </div>

    <div class="col-lg-10 text-left">
      <div class="row">
        <div class="col-lg-3">
          <button class="btn btn-link text-dark">Graphic Design</button>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-link text-dark">Business</button>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-link text-dark">Information Technology</button>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-link text-dark">Marketing</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Slideshow -->
  <div class="pt-3 pb-5">
    <img src="/assets/image/maglite.png" width="1505px">
  </div>

  <div class="container-fluid">
    <!-- Head Tag -->
    <div class="py-2">
      <div class="row border-top border-bottom">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <p class="font-weight-bold col-form-label">Graphic Design Corner</p>
        </div>
      </div>
    </div>

    <!-- Content Section -->
    <div>
      <article>

      </article>
    </div>
  </div>



  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item">Action</a>
      <a class="dropdown-item">Another action</a>
      <a class="dropdown-item">Something else here</a>
    </div>
  </div>

  <div class="container-fluid py-2">
    <div class="row border-top border-bottom">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <p class="font-weight-bold col-form-label">Business Corner</p>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2">
    <div class="row border-top border-bottom">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <p class="font-weight-bold col-form-label">Marketing Corner</p>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2">
    <div class="row border-top border-bottom">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <p class="font-weight-bold col-form-label">IT Corner</p>
      </div>
    </div>
  </div>
</div>



