<div class="container-fluid">

  <div class="card-box" *ngIf="layoutStatus == 1">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="font-weight-bold ">My Contributions</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
            src="assets/image/submission1.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3 (click)="dbLayout()">Database</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>03/25/2020</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
            src="assets/image/submission2.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3 (click)="dgtLayout()">Digital</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>06/25/2020</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
                 src="assets/image/submission3.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3 (click)="nsLayout()">Network System</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>07/20/2020</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="box">
          <div class="border-bottom border-dark">
            <img id="fctimg" class="mb-3"
            src="assets/image/submission4.png" alt="">
          </div>
          <div class="text-left mt-3">
            <h3 (click)="ipmLayout()">Implement</h3>
            <h5 class="float-left mr-3">Deadline: </h5>
            <p>10/15/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="layoutStatus == 2">
    <div class="row">
      <div class="col-lg-3">
        <h5><label (click)="dfLayout()"> Contributions </label> > Database</h5>
      </div>
    </div>
    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Description</h4>
        </div>
        <div class="col-lg-12">
          <div class="row text-center">
            <textarea class="col-form-label col-lg-12 mb-0" rows="8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet facilisis magna etiam. Massa massa ultricies mi quis hendrerit dolor magna eget est. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget mi. Varius vel pharetra vel turpis nunc eget. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Dictum sit amet justo donec enim diam vulputate ut. Elementum integer enim neque volutpat ac tincidunt. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Id venenatis a condimentum vitae. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tincidunt vitae semper quis lectus nulla at volutpat. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Eu augue ut lectus arcu
            </textarea>
          </div>
        </div>

      </div>
    </div>

    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Document Related</h4>
        </div>
        <div class="col-lg-12">
          <table class="table border">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 5%;" class="text-center">1</td>
                <td style="width: 45%;">Assignment1.docx</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center">
                  <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                  <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                </td>
              </tr>
              <tr>
                <td style="width: 5%;" class="text-center">2</td>
                <td style="width: 45%;">Assignment2.docx</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center" class="text-center">
                  <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                  <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="card-box">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline</h4>
        </div>
        <div class="col-lg-12">
          <table class="table border">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 5%;" class="text-center">1</td>
                <td style="width: 45%;">Deadline 1</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center">
                  <button class="btn btn-success text-dark mr-3" (click)="sbmLayout()">Submit</button>
                </td>
              </tr>
              <tr>
                <td style="width: 5%;" class="text-center">2</td>
                <td style="width: 45%;">Deadline 2</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center" class="text-center">
                  <button class="btn btn-success text-dark mr-3" (click)="sSbmLayout()">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="layoutStatus == 3">
    <div class="row">
      <div class="col-lg-3">
        <h5><label (click)="dfLayout()"> Contributions </label> > Digital</h5>
      </div>
    </div>
    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Description</h4>
        </div>
        <div class="col-lg-12">
          <div class="row text-center">
            <textarea class="col-form-label col-lg-12 mb-0" rows="8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet facilisis magna etiam. Massa massa ultricies mi quis hendrerit dolor magna eget est. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget mi. Varius vel pharetra vel turpis nunc eget. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Dictum sit amet justo donec enim diam vulputate ut. Elementum integer enim neque volutpat ac tincidunt. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Id venenatis a condimentum vitae. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tincidunt vitae semper quis lectus nulla at volutpat. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Eu augue ut lectus arcu
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Document Related</h4>
        </div>
        <div class="col-lg-12">
          <div style="overflow: auto; margin: 0 !important; width: 100% !important; border-radius: 0.15rem;">
            <table class="table border">
              <thead>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 45%;">Assignment1.docx</td>
                  <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                  <td style="width: 15%;" class="text-center">
                    <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                    <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">2</td>
                  <td style="width: 45%;">Assignment2.docx</td>
                  <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                  <td style="width: 15%;" class="text-center" class="text-center">
                    <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                    <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card-box">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline</h4>
        </div>
        <div class="col-lg-12">
          <table class="table border">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 5%;" class="text-center">1</td>
                <td style="width: 45%;">Deadline 1</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center">
                  <button class="btn btn-success text-dark mr-3" (click)="sbmLayout()">Submit</button>
                </td>
              </tr>
              <tr>
                <td style="width: 5%;" class="text-center">2</td>
                <td style="width: 45%;">Deadline 2</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center" class="text-center">
                  <button class="btn btn-success text-dark mr-3">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="layoutStatus == 4">
    <div class="row">
      <div class="col-lg-3">
        <h5><label (click)="dfLayout()"> Contributions </label> > Network System</h5>
      </div>
    </div>
    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Description</h4>
        </div>
        <div class="col-lg-12">
          <div class="row text-center">
            <textarea class="col-form-label col-lg-12 mb-0" rows="8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet facilisis magna etiam. Massa massa ultricies mi quis hendrerit dolor magna eget est. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget mi. Varius vel pharetra vel turpis nunc eget. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Dictum sit amet justo donec enim diam vulputate ut. Elementum integer enim neque volutpat ac tincidunt. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Id venenatis a condimentum vitae. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tincidunt vitae semper quis lectus nulla at volutpat. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Eu augue ut lectus arcu
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Document Related</h4>
        </div>
        <div class="col-lg-12">
          <div style="overflow: auto; margin: 0 !important; width: 100% !important; border-radius: 0.15rem;">
            <table class="table border">
              <thead>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 45%;">Assignment1.docx</td>
                  <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                  <td style="width: 15%;" class="text-center">
                    <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                    <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">2</td>
                  <td style="width: 45%;">Assignment2.docx</td>
                  <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                  <td style="width: 15%;" class="text-center" class="text-center">
                    <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                    <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card-box">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline</h4>
        </div>
        <div class="col-lg-12">
          <table class="table border">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 5%;" class="text-center">1</td>
                <td style="width: 45%;">Deadline 1</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center">
                  <button class="btn btn-success text-dark mr-3" (click)="sbmLayout()">Submit</button>
                </td>
              </tr>
              <tr>
                <td style="width: 5%;" class="text-center">2</td>
                <td style="width: 45%;">Deadline 2</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center" class="text-center">
                  <button class="btn btn-success text-dark mr-3">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="layoutStatus == 5">
    <div class="row">
      <div class="col-lg-3">
        <h5><label (click)="dfLayout()"> Contributions </label> > Implement</h5>
      </div>
    </div>
    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Description</h4>
        </div>
        <div class="col-lg-12">
          <div class="row text-center">
            <textarea class="col-form-label col-lg-12 mb-0" rows="8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet facilisis magna etiam. Massa massa ultricies mi quis hendrerit dolor magna eget est. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget mi. Varius vel pharetra vel turpis nunc eget. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Dictum sit amet justo donec enim diam vulputate ut. Elementum integer enim neque volutpat ac tincidunt. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Id venenatis a condimentum vitae. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tincidunt vitae semper quis lectus nulla at volutpat. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Eu augue ut lectus arcu
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Document Related</h4>
        </div>
        <div class="col-lg-12">
          <div style="overflow: auto; margin: 0 !important; width: 100% !important; border-radius: 0.15rem;">
            <table class="table border">
              <thead>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 45%;">Assignment1.docx</td>
                  <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                  <td style="width: 15%;" class="text-center">
                    <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                    <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">2</td>
                  <td style="width: 45%;">Assignment2.docx</td>
                  <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                  <td style="width: 15%;" class="text-center" class="text-center">
                    <button class="btn btn-link text-dark mr-3"><i class="far fa-eye"></i></button>
                    <button class="btn btn-light text-dark"><i class="fas fa-cloud-download-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card-box">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline</h4>
        </div>
        <div class="col-lg-12">
          <table class="table border">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 5%;" class="text-center">1</td>
                <td style="width: 45%;">Deadline 1</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center">
                  <button class="btn btn-success text-dark mr-3" (click)="sbmLayout()">Submit</button>
                </td>
              </tr>
              <tr>
                <td style="width: 5%;" class="text-center">2</td>
                <td style="width: 45%;">Deadline 2</td>
                <td style="width: 35%;" class="text-center"> 23:59:59 24/02/2021 </td>
                <td style="width: 15%;" class="text-center" class="text-center">
                  <button class="btn btn-success text-dark mr-3">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="layoutStatus == 6">
    <div class="row">
      <div class="col-lg-3">
        <h5><label (click)="dfLayout()"> Contributions </label> > Database > Deadline 1</h5>
      </div>
    </div>
    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline 1</h4>
        </div>
        <div class="col-lg-12">
          <div class="row text-center">
            <textarea class="col-form-label col-lg-12 mb-0" rows="8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet facilisis magna etiam. Massa massa ultricies mi quis hendrerit dolor magna eget est. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget mi. Varius vel pharetra vel turpis nunc eget. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Dictum sit amet justo donec enim diam vulputate ut. Elementum integer enim neque volutpat ac tincidunt. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Id venenatis a condimentum vitae. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tincidunt vitae semper quis lectus nulla at volutpat. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Eu augue ut lectus arcu
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline</h4>
        </div>
        <div id="boxlow" class="col-lg-12">
          <table class="table border">
            <tbody>

              <tr class="mt-1">
                <td class="width: 100%">
                  <div class="row">
                    <div class="col-lg-2">
                      <label> Comment : </label>
                    </div>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="4">
                      </textarea>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="width: 100%">
                  <div class="row form-group">
                    <h4 class="ml-3">File Submission</h4>
                  </div>
                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> Title : </label>
                    </div>
                    <div class="col-lg-6">
                      <input class="form-control">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> File : </label>
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-8">
                          <button class="btn btn-outline-secondary">Click Here To Submit</button>
                        </div>
                        <div class="col-lg-2">
                          <button class="btn btn-outline-secondary">Download</button>
                        </div>
                        <div class="col-lg-2">
                          <button class="btn btn-danger">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> Date Submit : </label>
                    </div>
                    <div class="col-lg-6">
                      <label> 27/05/2020, 2:48 PM </label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-lg-5"></div>

            <button class="col-lg-2 btn btn-success">Submit</button>

            <div class="col-lg-5"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="layoutStatus == 7">
    <div class="row">
      <div class="col-lg-3">
        <h5><label (click)="dfLayout()"> Contributions </label> > Database > Deadline 2</h5>
      </div>
    </div>

    <div class="card-box mb-4">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline 1</h4>
        </div>
        <div class="col-lg-12">
          <div class="row text-center">
            <textarea class="col-form-label col-lg-12 mb-0" rows="8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet purus gravida quis blandit turpis cursus in hac. Nisi est sit amet facilisis magna etiam. Massa massa ultricies mi quis hendrerit dolor magna eget est. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget mi. Varius vel pharetra vel turpis nunc eget. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Dictum sit amet justo donec enim diam vulputate ut. Elementum integer enim neque volutpat ac tincidunt. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Id venenatis a condimentum vitae. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tincidunt vitae semper quis lectus nulla at volutpat. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Eu augue ut lectus arcu
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 mb-2">
          <h4>Deadline</h4>
        </div>
        <div id="boxlow" class="col-lg-12">
          <table class="table border">
            <tbody>

              <tr class="mt-1">
                <td class="width: 100%">
                  <div class="row">
                    <div class="col-lg-2">
                      <label> Comment : </label>
                    </div>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="4">
                      </textarea>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="width: 100%">
                  <div class="row form-group">
                    <h4 class="ml-3">File Submission</h4>
                  </div>
                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> Title : </label>
                    </div>
                    <div class="col-lg-6">
                      <input class="form-control">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> File : </label>
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-8">
                          <button class="btn btn-outline-secondary">Click Here To Submit</button>
                        </div>
                        <div class="col-lg-2">
                          <button class="btn btn-outline-secondary">Download</button>
                        </div>
                        <div class="col-lg-2">
                          <button class="btn btn-danger">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> Date Submit : </label>
                    </div>
                    <div class="col-lg-6">
                      <label> 27/05/2020, 2:48 PM </label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-lg-5"></div>

            <button class="col-lg-2 btn btn-success">Submit</button>

            <div class="col-lg-5"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="card-box">
      <h4>Marketing Coordinator Feedback</h4>
      <div class="row">
        <div class="col-lg-12">
          <table class="table border">
            <tbody>
              <tr class="mt-1">
                <td class="width: 100%">
                  <div class="row">
                    <div class="col-lg-2">
                      <label> View Status : </label>
                    </div>
                    <div class="col-lg-10">

                      <!-- 2 nút status tùy thuộc vào trạng thái (*ngIf) -->

                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="width: 100%">
                  <div class="row form-group">
                    <div class="col-lg-2">
                      <label> Comment Date : </label>
                    </div>
                    <div class="col-lg-6">
                      <label>Ngày giờ comment</label>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="width: 100%">
                  <div class="row form-group">
                    <h4 class="ml-3">Feedback Comments</h4>
                  </div>

                    <label>Box để hiện lịch sử chat</label>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
</div>
