/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

.container-fluid {
  background-color: #f2f2f2;
  padding-top: 95px;
  padding-bottom: 15px;
  min-height: 100vh;
}

.card-box {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.modal-content{
  border-radius: 0.5rem;
}

.box {
  margin-top: 5%;
  margin-left: 15%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000000;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 71%;
}


@media only screen and (min-width: 1px) and (max-width: 653px) {
  .container-fluid {
    margin-left: 0;
    width: 100%;
  }
}


