* {
  box-sizing: border-box;
  overflow-x: visible;
}

body {
  min-height: 100vh;
}

#header{
  margin-left: 5%;
  margin-right: 0;
  height: auto;
  position: fixed;
  display: block;
  width: 95%;
  margin-bottom: 5% !important;
  z-index: 1;
}

#header.active{
  margin-right: 0;
  margin-left: 19%;
  width: 81%;
}


#footer{
  display: flex;
  margin-left: 5%;
  height:5%;
  width: 95%;
  bottom: 0;
}

#footer.active {
  bottom: 1%;
  margin-left: 19%;
  width: 81%;
  height: 5%;
}

#footer nav{
  width: 100%;
}


/* Sidebar */
#sidebar{
  width: 5%;
  background-color: #3E3E3E;
  text-align: center;
  height: 100%;
  position: fixed;
  /* z-index: 1; */
}

#sidebar.active{
  width: 19%;
  text-align: left;
  background-color: #3E3E3E;
  height: 100%;
  position: fixed;
  /* z-index: 1; */
}

#content {
  margin-left: 5%;
}

#content.active {
  margin-left: 19%;
}

/*Tag "h6" in Menu */
#menu h6{
  display: none;
}

#menu.active h6 {
  display: block;
  padding-top: 6%;
  font-size: larger;
}


/* Tag "i" in Menu */
#menu i{
  padding-bottom:40%;
  font-size: x-large;
}

#menu.active i {
  display: block;
  padding-top: 5%;
  padding-bottom:5%;
  padding-left: 5%;
  font-size: large;
}


/* Tag "button" in Menu */
#menu button {
  background-color: #3E3E3E;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#menu.active button {
  background-color: #3E3E3E;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 85%;
}

/* Tag "a" in Menu */
#menu a {
  display: none;
}

#menu.active a {
  display: inline-block;
  font-size: 97%;
  padding: 0% ;
}


/* Button */
#sidebar.active .sidebar-header button {
  display: inline-block;
}

#sidebar button {
  margin-top: 24%;
  margin-bottom: 30px;
  margin-right: 11%;
}

#sidebar.active button {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 3%;
}

/*Tag "image" in Sidebar */
/* #sidebar .sidebar-header img {
  display: none;
}

#sidebar.active .sidebar-header img {
  display: inline-block;
  width: 75%;
} */

#sidebar .sidebar-header label{
  display: none;
}
#sidebar.active .sidebar-header label{
  display: inline;
}

#sidebar .sidebar-header #logo{
  display: none;
}

#sidebar.active .sidebar-header #logo{
  display: inline-block;
  width: 95%;
}

#sidebar .sidebar-header #logo2{
  display: inline-block;
  width: 75%;
}

#sidebar.active .sidebar-header #logo2{
  display: none;
}

#sidebar .sidebar-header #user{
  display: inline-block;
  margin-top: 20%;
  margin-bottom: 20%;
  width: 75%;

}

#sidebar.active .sidebar-header #user{
  display: inline-block;
  width: 35%;
  text-align: center !important;
  margin-top: 0;
  margin-bottom: 0;
}


/*Tag "image" in Header */
#header nav img{
  width: 4%;
}

#header.active nav img{
  height: 1%;
  width: 2%;
}


/* Another */
#header div h3 {
  width: max-content;
}

#mngAccount{
  margin-left: 12%;
}

#mngFaculty{
  margin-left: 13%;
}

#mngSubmit{
  margin-left: 12%;
}

div label {
  font-size: 0.9em;
}

#user {
  width: 10vh;
}

 /* Not This */
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

#title1 {
  font-size: x-large;
}

#title2 {
  display: none;
}

#closebtn{
  margin-top: 12%;
}

#imgprf{
  width: 90%;
  margin-top: 25%;
  margin-left: 10%;
}

#imgbtn{
  margin-top: 10%;
  margin-left: 29%;
}

#prfbtn{
  width: 33%;
  margin-bottom: 5%;
}

#boodyy{
  margin-left: 5%;
}

#rpFooter{
  margin-left: -0.5%;
}

#loFooter{
  margin-left: 0.1%;
}

ul {
  padding-left: 2px !important;
}


#footer ul {
  width: 100%;
  margin-top: 1rem;
}

/* Mobile */

@media only screen and (min-width: 1px) and (max-width: 653px) {
  #sidebar{
    width: 0%;
  }

  #sidebar.active{
    width: 100%;
    z-index: 1;
  }

  #sidebar.active #menutoggle1 {
    display: inline-block;
  }

  header.active #menutoggle2 {
    display: none;
  }

  #sidebar button {
    display: none;
  }

  #sidebar.active button {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5%;
  }

  #header{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  #content{
    margin-left: 0;
  }

  #footer{
    width: 100%;
    margin-left: 0;
  }

  #header.active, #content.active, #footer.active{
    display: none;
  }

  #menu i {
    /* margin-left: 1%;
    font-size: 12px; */
    display: none;
  }

  #menu.active i {
    font-size: 0.8rem;
    margin-left: 8%;
  }

  #menu.active a{
    margin-left: 15px;
    font-size:1rem;
  }

  #menu.active h6{
    display: none;
  }

  #sidebar.active .sidebar-header img {
    display: none;
  }

  #sidebar .sidebar-header #logo1{
    display: none;
  }

  #sidebar.active .sidebar-header #logo1{
    display: inline-block;
    width: 75%;
  }

  .col-lg-6 a {
    font-size: 5px;
  }

  div label {
    font-size: 8px;
    width: max-content;
  }

  #dropdownMenuButton{
    margin: 0;
    padding: 0;
  }

  #user {
    width: 5vh;
  }

  #header div {
    padding-left: 3% !important;
  }

  #title1 {
    display: none;
  }

  #title2{
    display: contents;
    font-size: 16px;
  }

  ul{
    margin-right: 2%;
  }

  #imgbtn{
    font-size: 6px;
  }

  #imgprf{
    margin-top: 45%;
    margin-left: 18%;
  }

  #prfbtn{
    width: 30%;
    margin-bottom: 5%;
  }


  #footer ul {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  #footer ul li a {
    font-size: 8px;
  }

  #notify {
    margin-top: 0 !important;
    padding: 0;
  }

  #notify i {
    font-size: 9px;
    padding: 0 !important;
  }


}

@media only screen and (min-width: 653px) and (max-width: 1200px) {
  #header{
    margin-left: 8%;
    width: 92%;
  }

  #header.active{
    margin-left: 25%;
    width: 75%;
  }

  #content{
    margin-left: 8%;
  }

  #content.active{
    margin-left: 25%;
  }

  #sidebar{
    width: 8%;
  }

  #sidebar.active{
    width: 25%;
  }

  #menu.active a {
    font-size: 0.7rem;
  }

  #sidebar button {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1px;
  }

  #title1 {
    display: inline-block;
    font-size: 1.2rem;
  }

  #title2{
    display: none;
  }

  #user{
    width: 40px;
  }

  #sidebar #sidebar-header #menu-toggle1 {
    display: none;
  }

  #sidebar #sidebar-header #logo1 {
    display: none;
  }

  #sidebar.active #sidebar-header #logo1 {
    display: inline-block;
    width: 95%;
  }

  #sidebar.active #sidebar-header #logo2 {
    display: none;
  }

  #menu i {
    padding-bottom: 20%;
    font-size: 0.8rem;
  }

}

@media only screen and (min-width: 1200px) {
  #title1 {
    display: inline-block;
    font-size: x-large;
  }

  #title2{
    display: none;
  }

  #sidebar button {
    margin-right: 15%;
  }

  #sidebar .sidebar-header #logo1{
    display: none;
  }

  #sidebar.active .sidebar-header #logo1{
    display: inline-block;
    width: 90%;
  }


  #sidebar .sidebar-header #logo2{
    margin-bottom: 20%;
  }

  #sidebar .sidebar-header #menu-toggle1{
    display: none;
  }

  #sidebar.active .sidebar-header #menu-toggle1{
    display: none;
  }

}
