<div class="container-fluid">
  <h4 class="ml-2">Manage Faculty</h4>
  <div class="card-box">
    <div class="row">
      <div class="col-3 col-lg-4">
        <div class="row">
          <!-- <button id="facultybtn" class="col-9 col-lg-9 font-weight-bold py-4 mx-4 mb-3 btn btn-outline-secondary float-left"
          (click)="createLayout()"> Create <i class="fas fa-chevron-right col-form-label float-right pr-3"></i></button> -->
          <button id="facultybtn" class="col-9 col-lg-9 font-weight-bold py-4 mx-4 mb-3 btn btn-outline-secondary float-left"
            (click)="bmLayout()"> Business Management</button>
          <button id="facultybtn" class="col-9 col-lg-9 font-weight-bold py-4 mx-4 mb-3 btn btn-outline-secondary"
            (click)="itLayout()"> Information Technology</button>
          <button id="facultybtn" class="col-9 col-lg-9 font-weight-bold py-4 mx-4 mb-3 btn btn-outline-secondary"
            (click)="gdLayout()"> Graphic Design</button>
          <button id="facultybtn" class="col-9 col-lg-9 font-weight-bold py-4 mx-4 mb-3 btn btn-outline-secondary"
            (click)="emLayout()"> Event Manager</button>
          <!-- <button class="col-lg-9 font-weight-bold py-4 mx-4 text-dark btn btn-outline-secondary"
            (click)="marLayout()"> Marketing <i class="fas fa-chevron-right col-form-label float-right pr-3"></i></button> -->
        </div>
      </div>

      <div class="col-9 col-lg-8">

        <div class="row" *ngIf="layoutStatus == 1">
          <div class="col-12 col-lg-12">
            <div class="box">
              <div class="row form-group">
                <div class="col-8 col-lg-9">
                  <h4> Create </h4>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                  <input class="form-control" placeholder="Faculty Name">
                </div>
                <div class="col-12 col-lg-12 mt-2">
                  <textarea class="form-control" rows="6" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row" *ngIf="layoutStatus == 2">
          <div class="col-lg-12">
            <div class="box">
              <div class="row form-group">
                <div class="col-lg-10">
                  <h5> Edit </h5>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="Business Management">
                </div>
                <div class="col-lg-12 mt-2">
                  <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row"  *ngIf="layoutStatus == 3">
          <div class="col-lg-12">
            <div class="box">
              <div class="row form-group">
                <div class="col-lg-10">
                  <h5> Edit </h5>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="Information Technology">
                </div>
                <div class="col-lg-12 mt-2">
                  <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="layoutStatus == 4">
          <div class="col-lg-12">
            <div class="box">
              <div class="row form-group">
                <div class="col-lg-10">
                  <h5> Edit </h5>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="Graphic Design">
                </div>
                <div class="col-lg-12 mt-2">
                  <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="layoutStatus == 5">
          <div class="col-lg-12">
            <div class="box">
              <div class="row form-group">
                <div class="col-lg-10">
                  <h5> Edit </h5>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="Event Management">
                </div>
                <div class="col-lg-12 mt-2">
                  <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="layoutStatus == 6">
          <div class="col-lg-12">
            <div class="box">
              <div class="row form-group">
                <div class="col-lg-10">
                  <h5> Edit </h5>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-12">
                  <input class="form-control" placeholder="Marketing">
                </div>
                <div class="col-lg-12 mt-2">
                  <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ml-3">
          <div id="actionbtn" class="col-6 col-sm-6 col-md-6 col-lg-6">
            <button class="col-10 col-sm-11 col-md-11 col-lg-11 btn btn-outline-secondary"> Reset </button>
          </div>
          <div id="actionbtn" class="col-6 col-sm-6 col-md-6 col-lg-6">
            <button class="col-10 col-sm-11 col-md-11 col-lg-11 btn btn-outline-secondary"> Save </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
