.box {
  margin-top: 1% !important;
  margin-left: 0% !important;
  width: 99% !important;
  height: 136% !important;
}

.card-box {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#facultybtn{
  margin-left: 64%;
}

@media only screen and (min-width: 1px) and (max-width: 653px) {
  #facultybtn {
    font-size: 0.35rem;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0 !important;
  }

  button {
    font-size: 0.5rem;
  }

  button i {
    display: none;
  }

  input, textarea {
    font-size: 8px;
  }

  #actionbtn {
    padding-left: 0;

  }

}

@media only screen and (min-width: 654px) and (max-width: 1999px) {
  #facultybtn {
    font-size: 0.5rem;
    margin-top: 3%;
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 1200px) {
  .box {
    margin-top: 2% !important;
  }

  #facultybtn {
    font-size: 0.7rem;
    margin-top: 3%;
    margin-left: 0 !important;
  }
}

